// variables

$warning:                       #ffd60a;
$primary:                       #003566;

@import "../boostrap/scss/bootstrap";


$font-family-sans-serif:      Roboto, system-ui, -apple-system, "Segoe UI",  "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-size-base:              1rem;
$h1-font-size:                $font-size-base * 4;
$h2-font-size:                $font-size-base * 2.25;
$h3-font-size:                $font-size-base * 1.75;
$h4-font-size:                $font-size-base * 1.5;
$h5-font-size:                $font-size-base * 1.25;
$h6-font-size:                $font-size-base;
$font-size-lg:                $h4-font-size;
/*
$link-color:                  #888;
*/
$nav-link-font-size:            $h4-font-size;
$navbar-brand-font-size:        $h4-font-size;
$nav-link-font-weight:          400;
$nav-link-padding-x:            0rem;
$nav-link-hover-color:          $primary;
$nav-link-color:                #776741;

$border-radius-lg:              1.2rem;

$pagination-active-bg:            #000;
$pagination-color:               #333;
$pagination-hover-bg:            #333;
$pagination-hover-color:         #ddd;

$input-btn-line-height:         1;
$btn-padding-y-lg:         1.5rem;
$btn-padding-x-lg:         2rem;

$input-group-addon-bg:                  $primary;
$input-group-addon-color:                  #ddd;

.sendVoiceBtn{
    padding-left:       1.2rem;
    padding-right:      1.2rem;
    padding-top:        .4rem;
    padding-bottom:     .4rem;
    font-size:          $h5-font-size;
    border-radius:      .7rem;
    background-color:   #B9717D;
}

.page-background{
  background-image:                 url(../images/image.png);
  height:                           100vh;
}

.work-space{
    margin-top:             16vh;
    max-height:             70vh;
    min-height:             70vh;
    background-color:       #479925;
    padding-left:           1.8rem;
    padding-right:          1.8rem;
    padding-top:            .7rem;
    padding-bottom:         .7rem;
    border-radius:      1.2rem;
}

//      static/css/custom.scss
